/* general icons for IE7 */
/* line 4, ../../../sass/foundicons/social/social_foundicons_ie7.scss */
[class*="foundicon-social-"] {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-thumb-up {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf000;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-thumb-down {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf001;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-rss {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf002;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-facebook {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf003;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-twitter {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf004;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-pinterest {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf005;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-github {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf006;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-path {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf007;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-linkedin {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf008;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-dribbble {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf009;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-stumble-upon {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00a;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-behance {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00b;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-reddit {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00c;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-google-plus {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00d;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-youtube {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00e;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-vimeo {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00f;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-flickr {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf010;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-slideshare {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf011;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-picassa {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf012;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-skype {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf013;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-steam {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf014;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-instagram {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf015;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-foursquare {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf016;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-delicious {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf017;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-chat {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf018;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-torso {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf019;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-tumblr {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01a;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-video-chat {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01b;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-digg {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01c;");
}

/* line 12, ../../../sass/foundicons/social/_settings.scss */
.foundicon-social-wordpress {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01d;");
}
